node_modules
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Docker data ###
/docker/qdrant_data
/course_config.json
/src/main/frontend/generated/
/src/main/frontend/generated/flow/generated-flow-imports.d.ts
/src/main/frontend/generated/flow/generated-flow-imports.js
/src/main/frontend/generated/flow/generated-flow-webcomponent-imports.js
/src/main/frontend/generated/jar-resources/
/src/main/frontend/generated/theme.d.ts
/src/main/frontend/generated/theme.js
/src/main/frontend/generated/vaadin.ts
/src/main/frontend/generated/vaadin-featureflags.js
